/* Не нужно для всех элементов указывать display, он указываеться только если нужно изменить страндартное отображение браузером,
 И горизонтальной прокрутки на сайте быть не должно, поэтому мы задаем box-sizing: border-box; для всех элементов
 Я закомметнировала много где display: inline-block; и width: 100%; так как по умолчанию эти элементы имеют свойства
 display: block; а это свойство подразумевает что элеиент занимет 100% от ширины экрана
 И на картинке была бедая рамка, ее тоже нужно добавить*/
html,body{
	/*display: block;*/
	background: #3c3d46;
	min-height: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: “Trebuchet MS”, Trebuchet, Arial, sans-serif;
	font-size: 14px;
	text-align: center;
}

*{
	box-sizing: border-box;
}

.container{
	min-height: 100;
	height: auto;
	border: 5px solid #fff;
}


header {
	/* text-align работает на контент этого блока, так что свойство display сдесь display не нужно */
	/*display: inline-block;*/
	background: #4a4e56;
	width: 100%;
	text-align: center;
	color: #eb7d7d;
	margin: auto;
	height: auto;
	padding: 15px 0;
}

h1{
	/*display: inline-block;*/
	margin: inherit;
	/*width: 100%;*/
	padding: 2px;
}

h3{
	/*display: inline-block;*/
	font-weight: lighter;
	margin: inherit;
	/*width: 100%;*/
	padding: 2px;
}

main{
	/*display: inline-block;*/
	font-family: “Trebuchet MS”, Trebuchet, Arial, sans-serif;
	/*width: 100%;*/
	text-align: center;
	margin: 25px auto;
}

form{
	max-width: 525px;
	margin: auto;
	/*display: inline-block;*/
	/*width: 525px;*/
	/*text-align: center;*/
}

label{
	display: block;
	/*display:inline-block;
	width: 100%;*/
	text-align: left;
	padding: 10px 0;
	background: #88839E;
}

label:nth-child(even){ 
	background: #7A7593;
}

span.value{
	display: inline-block;
	color: #fafaff;
	font-size: 17px;
	vertical-align: middle;
}

span.description{
	display: inline-block;
	color: #C9C1C5;
	font-size: 12px;
	vertical-align: middle;
}

span.description:before{
	content: '(';
	color: #C9C1C5;
}

span.description:after{
	content: ')';
	color: #C9C1C5;
}

input{
	width: 17px;
	height: 17px;
	vertical-align: middle;
	margin: 5px;
}

input:checked ~ span{
	text-decoration: line-through;
	color: #9F9EB4;
}

label:focus{
	background: green;
}

label:hover{
	background: #625E77;
	border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
	transition: all .1s ease-in;
}

label:active{
	background:#eb7d7d;
}

footer {
	display: inline-block;
	background: #4a4e56;
	width: 100%;
	max-width: 525px;
	/*width: 525px;*/
	text-align: center;
	color: #eb7d7d;
	margin: auto;
	height: auto;
	padding: 10px 0;
}
